In [1]:
import pandas as pd
import os

In [2]:
# Read MSCONS files
cwd = os.getcwd()
mscons_path = os.path.join(cwd, '..', 'data', '__temp__')

In [3]:
def read_csv_files_from_directory(directory_path):
    """
    Reads all .csv files from the specified directory.
    Returns a list of full paths of .csv files.
    """
    return [os.path.join(directory_path, file) for file in os.listdir(directory_path) if file.endswith('.csv')]

# Example usage
if __name__ == "__main__":
    cwd = os.getcwd()
    mscons_path = os.path.join(cwd, '..', 'data', '__temp__')
    csv_files = read_csv_files_from_directory(mscons_path)

    # Print out the files that were read
    for file in csv_files:
        print(file)

c:\Users\JuanFernandez\git_repos\msconsconverter\msconsconverter\..\data\__temp__\MSCONS-2023-11-15-amn9458.csv
c:\Users\JuanFernandez\git_repos\msconsconverter\msconsconverter\..\data\__temp__\MSCONS-2023-11-15-fpf808p.csv

In [4]:
csv_files

['c:\\Users\\JuanFernandez\\git_repos\\msconsconverter\\msconsconverter\\..\\data\\__temp__\\MSCONS-2023-11-15-amn9458.csv',
 'c:\\Users\\JuanFernandez\\git_repos\\msconsconverter\\msconsconverter\\..\\data\\__temp__\\MSCONS-2023-11-15-fpf808p.csv']

In [5]:
# Read csv files and store them in a dictionary
def get_csv_dataframes(path):
    csv_files = read_csv_files_from_directory(path)
    dataframes = {}
    
    for file in csv_files:
        file_name = os.path.basename(file).replace('.csv', '')
        dataframes[file_name] = pd.read_csv(file)
        
    return dataframes

# Example usage
if __name__ == "__main__":
    cwd = os.getcwd()
    mscons_path = os.path.join(cwd, '..', 'data', '__temp__')
    df_dict = get_csv_dataframes(mscons_path)

In [6]:
# Print out the names of the files that were read
for file_name, df in df_dict.items():
    print(f"File Name: {file_name}, DataFrame Shape: {df.shape}")

File Name: MSCONS-2023-11-15-amn9458, DataFrame Shape: (2405, 18)
File Name: MSCONS-2023-11-15-fpf808p, DataFrame Shape: (291, 18)

In [8]:
df = df_dict['MSCONS-2023-11-15-amn9458']

In [9]:
df

,LOC_MSCONS,LOC_PLZ,LOC_EEGKEY,DATE_PERIOD_START,YEAR_PS,MONTH_PS,DAY_PS,HOUR_PS,MINUTE_PS,UTC_PS,DATE_PERIOD_END,YEAR_PE,MONTH_PE,DAY_PE,HOUR_PE,MINUTE_PE,UTC_PE,VALUE
0,DE00072602625ET000000000000540516,2625,ET000000000000540516,202311102300+00,2023,11,10,23,0,0,202311112300+00,2023,11,11,23,0,0,"10,5"
1,DE00072602625ET000000000000540516,2625,ET000000000000540516,202311102300+00,2023,11,10,23,0,0,202311112300+00,2023,11,11,23,0,0,"10,5"
2,DE00072602625ET000000000000540516,2625,ET000000000000540516,202311102300+00,2023,11,10,23,0,0,202311102315+00,2023,11,10,23,15,0,"10,5"
3,DE00072602625ET000000000000540516,2625,ET000000000000540516,202311102300+00,2023,11,10,23,0,0,202311102315+00,2023,11,10,23,15,0,"10,5"
4,DE00072602625ET000000000000540516,2625,ET000000000000540516,202311102315+00,2023,11,10,23,15,0,202311102315+00,2023,11,10,23,15,0,"10,5"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2400,DE00072602625ET000000000000540516,2625,ET000000000000540516,202311112245+00,2023,11,11,22,45,0,202311112245+00,2023,11,11,22,45,0,0
2401,DE00072602625ET000000000000540516,2625,ET000000000000540516,202311112245+00,2023,11,11,22,45,0,202311112300+00,2023,11,11,23,0,0,0
2402,DE00072602625ET000000000000540516,2625,ET000000000000540516,202311112245+00,2023,11,11,22,45,0,202311112300+00,2023,11,11,23,0,0,0
2403,DE00072602625ET000000000000540516,2625,ET000000000000540516,202311112245+00,2023,11,11,22,45,0,202311112300+00,2023,11,11,23,0,0,0
2404,DE00072602625ET000000000000540516,2625,ET000000000000540516,202311112245+00,2023,11,11,22,45,0,202311112300+00,2023,11,11,23,0,0,0

In [10]:
# Assuming df is your DataFrame
df['VALUE'] = pd.to_numeric(df['VALUE'], errors='coerce')
total_sum = df['VALUE'].sum()

In [11]:
num_na_values = df['VALUE'].isna().sum()
print("Number of non-convertible values:", num_na_values)

Number of non-convertible values: 680

In [12]:
total_sum

3552.0

In [13]:
num_na_values

680

In [14]:
df.shape

(2405, 18)

In [15]:
df_1 = df_dict['MSCONS-2023-11-15-fpf808p']

In [16]:
df_1.head()

,LOC_MSCONS,LOC_PLZ,LOC_EEGKEY,DATE_PERIOD_START,YEAR_PS,MONTH_PS,DAY_PS,HOUR_PS,MINUTE_PS,UTC_PS,DATE_PERIOD_END,YEAR_PE,MONTH_PE,DAY_PE,HOUR_PE,MINUTE_PE,UTC_PE,VALUE
0,DE00106882008S0000000000001178980,82008,S0000000000001178980,202311082300+00,2023,11,8,23,0,0,202311092300+00,2023,11,9,23,0,0,0.0
1,DE00106882008S0000000000001178980,82008,S0000000000001178980,202311082300+00,2023,11,8,23,0,0,202311092300+00,2023,11,9,23,0,0,0.0
2,DE00106882008S0000000000001178980,82008,S0000000000001178980,202311082300+00,2023,11,8,23,0,0,202311082315+00,2023,11,8,23,15,0,0.0
3,DE00106882008S0000000000001178980,82008,S0000000000001178980,202311082300+00,2023,11,8,23,0,0,202311082315+00,2023,11,8,23,15,0,0.0
4,DE00106882008S0000000000001178980,82008,S0000000000001178980,202311082315+00,2023,11,8,23,15,0,202311082315+00,2023,11,8,23,15,0,0.0

In [17]:
# Assuming df is your DataFrame
df_1['VALUE'] = pd.to_numeric(df_1['VALUE'], errors='coerce')
total_sum = df_1['VALUE'].sum()

In [18]:
total_sum

0.018000000000000002

In [19]:
num_na_values = df_1['VALUE'].isna().sum()
print("Number of non-convertible values:", num_na_values)

Number of non-convertible values: 0